
body{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 300;
}


.mydiv{


}


.mycontainer{
   
}

.mynav{
    
}

.navbar-brand{
font-size: 40px;
font-weight: 600;
color: #7545BD;

}

.mylink{
    margin: 20px;
    color: black;
}

.myschrift{
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 600;
    
    margin-bottom: 25px;
}

.mypara{
    margin-bottom: 50px;
    
}

.mybtn{
padding: 20px 40px;
background: #8c48bc;
font-size: 14px;
font-weight: 600;
color: #fff;
text-transform: uppercase;
border-radius: 5px;
cursor: pointer;
text-decoration: none;
margin-left: 550px;
}

.myimg{
    margin-left: 230px;
    margin-top: 70px;
    
}

.myschreiben{
    font-size: 30px;
    font-weight: 600;
color: #944dbe;
text-transform: uppercase;
}
.mycard{
text-align: center;
background: #fff;
padding: 20px 40px 20px 40px;
margin-bottom: 50px;
border: 1px solid #eaeaea;
border-radius: 10px;
transition: .5s;
margin-left: 100px;

}

.card-body4{
    
}

.myicon{
 color: #7545BD;   
}


.card-subtitle{
color: black;

}

.card-text{

}

.mycard2{
    text-align: center;
    background: #fff;
    padding: 20px 40px 20px 40px;
    margin-bottom: 50px;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: .5s; 
    margin-left: 70px;
}

.mycard3{
    text-align: center;
    background: #fff;
    padding: 20px 40px 20px 40px;
    margin-bottom: 50px;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: .5s; 
    margin-left: 20px;  
}
.mycard4{
    text-align: center;
    background: #fff;
    padding: 20px 40px 20px 40px;
    margin-bottom: 50px;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: .5s; 
    margin-left: 100px; 
}

.mycard5{
    text-align: center;
    background: #fff;
    padding: 20px 40px 20px 40px;
    margin-bottom: 50px;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: .5s; 
    margin-left: 70px; 
}

.mycard6{
    text-align: center;
    background: #fff;
    padding: 20px 40px 20px 40px;
    margin-bottom: 50px;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: .5s; 
    margin-left: 20px;
}

.mytitel{
    font-weight: 600;
    color: #944dbe;
    text-transform: uppercase;
    font-size: 30px;
    margin: 0;
    line-height: 1.1;
    padding: 0;
    font-family: inherit;
}

.myuntertitel{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 300;
    color: #565656;
    padding: 0;
    margin: 0;
}

.myfoto{
    margin-left: 700px;
    
}

.myicon{


color: #944dbe;


}

.mykuli{
    margin: 0;
    font-size: 18px;
    font-family: inherit;
font-weight: 500;
line-height: 1.1;
color: inherit;
padding: 0;

}

.mysentence{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 300;
    color: #565656;
    padding: 0;
    margin: 0;
    
}

.mytitel{
    font-weight: 600;
color: #944dbe;
text-transform: uppercase;
margin: 0;
font-size: 30px;
font-family: inherit;
line-height: 1.1;
padding: 0;

}
.mytitel::after{
    display: block;
    content: '';
    width: 200px;
    height: 1px;
    background: #5224b3;
    margin: 30px  30px 0;
    box-sizing: border-box;
    margin-right: 20px;
    margin-left: 60px;
    
}

.myuntertitel{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 300;
    color: #565656;
  
}

.mydiv {

}

.myicon1{
    position: absolute;
margin-top: 10px;
font-size: 30px;
color: #944dbe;

}

.myh4{
    font-size: 18px;
    margin: 0;
    font-family: inherit;
font-weight: 500;
line-height: 1.1;
color: inherit;
padding: 0;
margin-left: 50px;
padding-top: 8px;
}

.mybild1{
    position: absolute;
    left: -17px;
    z-index: -1;
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-left: 800px;
    margin-top: 200px;
}
  


.mybild2{
    position: absolute;
left: 117px;
width: 520px;
display: block;
max-width: 100%;
height: auto;
margin: 0;
padding: 0;
border: 0;
box-sizing: border-box;
margin-left: 800px;
margin-top: 200px;
}





